<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">
    <a class="navbar-brand" href="/">
        <title>Welcome to My Homepage</title>
    </a>
    <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="https://example.com">Link 1</a>
            </li>
            <li class="nav-item active">
                <a href="https://example.com">Link 2</a>
            </li>
            <li class="nav-item active">
                <a href="https://example.com">Link 3</a>
            </li>
        </ul>
    </div>
</nav>