{% extends "layout.jinja2" %}
{% block content %}
<form action="/actors/new/" method="POST">
     <div class="row">
        <div class="col">
            <label for="Name">Name</label>
            <input id="name" type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="col">
            <label for="movie">Movie</label>
            <input id="movie" type="text" class="form-control" placeholder="Movie" name="movie">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="age">Age</label>
            <input id="age" type="text" class="form-control" placeholder="Age" name="age">
        </div>
        <div class="col">
            <label for="year">Year</label>
            <input id="year" type="text" class="form-control" placeholder="Year" name="year">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Insert Actor</button>
</form>

{% endblock %}

